<%- include("templates/header") %>
<body id="body-home">
    <!--? NavBar-->
    <%- include("templates/navbar") %> 
    <!--! Main Body-->    
    
    <div class="pageIntro">
       <div class="imgCover">
           <img src="/assets/intro.jpg" alt="" class="intro">
           <div class="introText">
               <span>Welcome AvGeeks,</span>
               <span>To the offical AvGeeks Site</span>
            </div>

           <div class="short-nav">
               <div><a class="link" href="/home">Home</a></div>
               <div><a class="link" href="/store">Store</a></div>
               <div><a class="link" href="/community">Have a Question?</a></div>
           </div>
        </div> 
        <div class="contact-me-home">
            <a href="mailto:ali.medani296@gmail.com">Contact Us</a>
        </div>
    </div>
</body>
</html>