<%- include("templates/header") %> 

<body>
    <%- include("templates/navbar") %> 
    <img src="/assets/Mp0Rl3.jpg" alt="" id="intro">
    <div class="main-section">
        <div class="who">
            <div class="who-heading">Who are Aviation Enthusiasts?</div>
            <div class="who-info">
                <p>Aviation Enthusiasts are people who have a passion for aviation and you can detect one by seeing what their reaction or responses are when you talk about aviation with them or when they see planes, go to an airport, etc...</p>
                <p>Aviation Enthusiasts, are also refered to as, "AvGeeks." AvGeeks usually go to anything related with aviation and you might find them correcting non AvGeeks when they talk about aviation.</p>
                <p>AvGeeks also participate in many airshows or such events and they might have a flight simulator, in which they can simulate flying a real aeroplane. There are some who would build a remote controlled aeroplane and fly it around. Finally, some AvGeeks keep a collection of items like propellers hanging on the wall, or keychains, etc...</p>
                <p>AvGeeks are found in many places especially on the internet (YouTube, Instagram...). If you are intersted to become an AvGeek or increase your knowledge about them, then you can follow some channles on those Platforms. It will take time, but as you continue your journey, you will enjoy it and learn as you enjoy. </p>
                <span class="big-heading">Recommended channels and accounts to visit:</span>
                <div class="channel-links">
                    <a target="blank" href="https://www.youtube.com/channel/UCovVc-qqwYp8oqwO3Sdzx7w">74 Gear</a>
                    <a target="blank" href="https://www.youtube.com/channel/UCfb2YpWR9FWTJMjzvAlP0_Q">Lucaas</a>
                    <a target="blank" href="https://www.youtube.com/user/N178UA">Sam Chui</a>
                    <a target="blank" href="https://www.youtube.com/c/MentourPilotaviation">Mentour Pilot</a>
                    <a target="blank" href="https://www.instagram.com/avgeekmel/">avgeekmel</a>
                    <a target="blank" href="https://www.instagram.com/plane_old_memes/">plane_old_memes</a>
                </div>
            </div>
        </div>

        <div class="prove">
            <div class="prove-heading big-heading">How to detect an AvGeek?</div>
            <div class="prove-body">
                <ul>
                    <li>They detect almost any plane they see in front of them.</li>
                    <li>They love and enjoy it while takeoff and landing.</li>
                    <li>They have a flight simulator and try to get any games related to avaition. Including Phone, PC...</li>
                    <li>They try to build a small model of a specific plane that they can attempt to fly.</li>
                    <li>They try and go to the cockpit, trying to see the systems and all in front of their eyes.</li>
                    <li>Their instagram is full of Aviation related stuff.</li>
                    <li>They are concerned of what plane they are/will be flying on, unlike their friends who don't care as much.</li>
                    <li>They are either in Team Airbus or Team Boeing.</li>
                    <li>When their is a plane flying they try to identify which one it is.</li>
                    <li>They go to events related to avaition such as airshows and introductons to new models of planes.</li>
                </ul>
            </div>
            <div class="prove-more-info">
                <p>These are just <strong>some</strong> points which an AvGeek can be detected through.</p>
            </div>
        </div>
    </div>
    <%- include("templates/footer"); %>   
</body>
</html>

