<div class="navbar" id="navbar">
    <div class="logo"><a href="/"><img src="/assets/AvGeeksLogo.png" alt="AvGeeks"></a></div>
    <div class="navlinks">
        <div class="navlink"><a href="/home">Home</a></div>
        <div class="navlink"><a href="/info">Information</a></div>
        <div class="navlink"><a href="/store">Store</a></div>
        <div class="navlink"><a href="/todo">Todo List</a></div>
        <div class="navlink"><a href="/community">Community</a></div>
    </div>
</div>